/* Font Mulish from google font */
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
    font-family: "Mulish", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
/*  variable declar area--------------------------*/
:root{
    --primary-color:#5A5A5D;
    --secondary-color:#FF5400;
    --nav-tex-dark:#424247;
    --text-light:;
    --extra-light;;
    --white-color:#FFF;
    --blac-dimond: #131318;
}

/*--------------------- header area----------------------------- */
.header{
    margin: 3rem 8.4rem;

}
/* -----------nav------------ */

nav{
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.logo{
   display: flex; 
   align-items: center;
}
 .logo .biman{
   width: 3rem;
   height: 56px; 
}
.travel-life{
    text-decoration: none;
     color: #131318;
    font-size: 2.25rem;
    font-weight: 800;
}
.life{
    color: var(--secondary-color);
}
.banner-content{
    margin: 0 auto;
    align-items: centen;
}
nav ul{
    
    display:flex;
    margin:50px;
    text-align: center;
    
}
nav ul li{
    list-style: none;
    margin-right: 2.75rem;
    padding:10px 0;
}
nav ul li a{ 
    text-decoration: none;
    
}

/* ------banner area----------- */


.banner-container{
    background-image: url("../Images/Group 13 (1) (1).png");
    width: 100%;
    background-repeat: no-repeat;
    border-radius: 10px;
    background-size: cover;

}
.banner-container .banner-content{
    text-align:center;
    padding: 5rem 11.563rem;
}
.banner-container .banner-content > h1{
    color: var(--white-color);
    font-size: 4rem;
    font-weight: 800;
    margin-bottom: 1.5rem;
}
.banner-container .banner-content > p{
    color: var(--white-color);
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 2rem;
}

.banner-container .banner-content ul {
    display: flex;
    /* margin:0 auto; */
   

   
}
.banner-container .banner-content ul li{
    list-style: none;
    margin: 2px;
    text-align: center;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);

    

}
.banner-container .banner-content ul li input{

    width: 10.875rem;
    height: 3.25rem;
    border-radius: .6rem;
    background: var(--white-color);
    border: none;
}
.orange{
    background: #FF5400;
    padding-left: 30px;
}

/* -------------------main area----------------------- */
main{
    margin: 6.25rem 8.438rem;
}

.section1{
    display: flex;

}
.section1 .section1-left{

}
.section1-left h1{
    color: var(--blac-dimond);
    text-align: cente
    font-size: 40px;
    font-weight: 800;


}
p{
    padding: 24px 0;
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-weight: 400;

}
.section1-left ul li{
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-weight: 400;
}
.red-more{
    background-color: var(--secondary-color);
    width: 174px;
    height: 52px;
    border-radius: 8px;
    border: none;
    margin: 2rem;
    color: var(--white-color);

}
.section1-right{
width: 100%;
height: auto;
border-radius: 16px;
background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}
/* 
.section2---------------------------- */
.section2{
    margin: 100px 0 48px 0;
    text-align: center;
    
}

/* .section3 area-------------------- */
.section3{
    display: grid;
    gap: 1.5rem;
    align-items: center;
}
.section3 .row1{
    display: flex;
    width: 100%;
    gap: 1.5rem;
    
}
.section3 .row2{
    display: flex;
    width: 100%;
    gap: 1.5rem;
}
.section3 .row3{
    display: flex;
    width: 100%;
    gap: 1.5rem;
}

/* -------------------section4---------------------- */
.section4{
    margin: 100px 0;
}
.section4 .section4-row1{
    text-align: center;
}
.section4 .section4-row2{
    display: flex;
    justify-content: ;
}
.section4 .section4-row3{
    text-align: center; 
}
.section5{
    text-align: center;
}


/* .section6--------------------------- */
.section6{
    
}
.section6 .section6-row1{
    background-image: url("../Images/Group 39.png");
    width: 100%;
    height: 31.25rem;
    background-repeat: no-repeat;
}
.section6 .section6-row2{
    background-image: url("../Images/Group 40.png");
    width: 100%;
    height: 31.25rem;
    background-repeat: no-repeat;
}
.section6 .section6-row3{
    background-image: url("../Images/Group 39.png");
    width: 100%;
    height: 31.25rem;
     background-repeat: no-repeat;
} 


.seeAll{
    align-items: center;
}


.section8{
    margin:;
} 
.section8-row1{
    display: flex;
    gap: 40px;
    margin-bottom: 100px;

}
.section8-row2{
    display: flex;
    justify-content: space-between;

} 
.section8-row2-left{
    border: 1px solid orange;
    border-radius: .5rem;
    padding: 2.5rem;
} 
.section8-row2-left #subscribe{
    padding-bottom: 10px;
}  
.form{
    padding: 16px 250px 16px 20px;
    border-radius: 10px;
    background: rgba(19, 19, 24, 0.05);
    border: none;
}
.section8-img{
    width: 100%;
    width: 672px;
    height: 422px;
}
.red-more:hover{
    color: blue;
    background-color: tomato;
}


/* -------------footer------------------ */
footer{
    text-align: center;
    width: 100%;
    height: 31.5rem;
    background: rgba(19, 19, 24, 0.05);
    

}
.footer-container{
    padding: 6.875rem 21rem;
}

.logofooter{
    display: inline;
    align-items: center;
    margin:0 auto;
    
}
.copyright{
    padding-top: 45px;
}



/* responsive media queries */
@media screen and (max-width: 800px;){
    nav{
        flex-direction: column;
    }
    .header{
        margin:10px;
    
    }
}



